.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 320px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-divider {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 10px 0;
}

.card-body {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}

.button-details {
    background-color: #707070;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    align-self: center;
}

.button-details:hover {
    background-color: #494949;
}